In [1]:
import pandas as pd

In [2]:
# To check version of pandas
pd.__version__

'1.4.4'

In [3]:
# Create a list
list_s = [1,2,-3,6.2,'data values']
print(list_s)

[1, 2, -3, 6.2, 'data values']

In [4]:
# Create pandas series
series1 = pd.Series(list_s)

In [5]:
series1

0              1
1              2
2             -3
3            6.2
4    data values
dtype: object

In [8]:
series2 = pd.Series([1,2,3,4,5])
print(series2)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [10]:
# Empty pandas series
empty_s = pd.Series([])
print(empty_s)

Series([], dtype: float64)

C:\Users\MAHMUD\AppData\Local\Temp\ipykernel_2264\3878301290.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  empty_s = pd.Series([])

In [13]:
# indexing (row names) in Series.
series3 = pd.Series([1,2,3,4], index = ['a','b','c','d'])
print(series3)

a    1
b    2
c    3
d    4
dtype: int64

In [14]:
# dtype in pandas series
series3 = pd.Series([1,2,3,4], index = ['a','b','c','d'], dtype=float)
print(series3)

a    1.0
b    2.0
c    3.0
d    4.0
dtype: float64

In [15]:
series3 = pd.Series([1,2,3,4], index = ['a','b','c','d'], dtype=float, name='data values')
print(series3)

a    1.0
b    2.0
c    3.0
d    4.0
Name: data values, dtype: float64

In [16]:
# Scaler data creation in pandas series
scalar_s = pd.Series(0.5)
print(scalar_s)

0    0.5
dtype: float64

In [17]:
scalar_s = pd.Series(0.5, index=[1, 2, 3])
print(scalar_s)

1    0.5
2    0.5
3    0.5
dtype: float64

In [18]:
# Dictionaries made in pandas data series
dict_s = pd.Series({'a':1,'b':2})
print(dict_s)

a    1
b    2
dtype: int64

In [19]:
# list slicing
s4 = pd.Series([1,2,3,4,5])
print(s4)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [22]:
print(s4[0])
print(s4[1])

1
2

In [23]:
s4[0:3]

0    1
1    2
2    3
dtype: int64

In [33]:
# min-max values
print(min(s4))
print(max(s4))

1
5

In [26]:
# condition
s4[s4>3]

3    4
4    5
dtype: int64

In [27]:
s4

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [28]:
s5 = pd.Series([1,2,3,4,5])

In [29]:
# Addition in python series
s4+s5

0     2
1     4
2     6
3     8
4    10
dtype: int64

In [31]:
s6 = pd.Series([1,2,3,4,5,6])
print(s6)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [32]:
#inequal additiona operation
s5+s6

0     2.0
1     4.0
2     6.0
3     8.0
4    10.0
5     NaN
dtype: float64